<section>
  <h3>TODO List</h3>
  <p>A place to store your todos</p>
  <form id="sortForm">
    <input
      type="text"
      [(ngModel)]="sortInput"
      name="sorter"
      (keyup)="sorter()"
      placeholder="Filter your to-dos"
    />
    <a href="#" (click)="clearSort()">clear</a>
  </form>
  <!-- {{ sortInput }} -->
  <article class="todo" *ngFor="let todo of sortedList; let i = index">
    <div class="containment">
      <p>{{ i + 1 }}.</p>
      <a
        [hidden]="todo.completed"
        href="#"
        (click)="todo.completed = true"
        class="completeButton"
      >
        complete
      </a>
      <p [class.completed]="todo.completed">{{ todo.task }}</p>
    </div>
    <div class="options">
      <a href="#" (click)="editor(todo.task)">edit</a>
      <a href="#" class="ex" (click)="delete(todo.task)">X</a>
    </div>
  </article>
  <form (ngSubmit)="adder(tempTask)">
    <input
      type="text"
      [(ngModel)]="tempTask"
      name="adder"
      placeholder="Add your to-do"
      name="add"
      class="text"
    />
    <input type="submit" name="submit" value="Add" class="submitIn" />
  </form>
</section>
<!-- <p>{{ todoInput }}</p> -->
